<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 비밀값은 운영 서버 환경 변수로만 주입합니다. 저장소에는 기록하지 않습니다. -->
    <add key="KakaoClientId" value="" />
    <add key="KakaoClientSecret" value="" />
  </appSettings>
  <connectionStrings>
    <!-- 운영 서버에 배포할 때는 이 연결 문자열만 서버 DB 정보로 교체하면 됩니다. -->
    <add name="EnhanceAddiction"
         connectionString="Server=.\SQLEXPRESS;Database=enhance_addiction;Trusted_Connection=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <!-- BOM이 없는 ASPX 파일도 한글이 깨지지 않도록 소스와 응답 인코딩을 고정합니다. -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <sessionState mode="InProc" timeout="30" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
